.container {
    input {
        font-size: 16px;
        height: 40px;
        width: 100%;
        border-radius: 2px;
        border: none;
        color: #fff;
        padding: 0 5px;
        background-color: #576783;
        &::placeholder {
            color: #c4c4c4bd;
        }
    }
}
