.page {
  h1 {
    display: flex;
    justify-content: center;
  }
}

.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  background-color: #1b1c29;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
